<div class="form-container">
  <h1>Weather'n'Stuff</h1>
  <h3>Enter a US zip code to view the weather history of that location!</h3>
  <form name="zipForm" ng-submit="zipForm.$valid && zip.getCityInfo(zip.zip)" id="zipForm">
    <md-input-container>
      <label>Zip Code</label>
      <input name="zip" ng-model="zip.zip" ng-pattern="zip.zipRegEx" required>
      <div ng-messages="zipForm.zip.$error">
        <div ng-message="required">This is required!</div>
        <div ng-message="pattern">Please enter a 5 digit zip code!</div>
      </div>
  </md-input-container>
  <md-button type="submit" class="md-raised md-primary">
    Look Up The Trends
  </md-button>
  <div class="expand-container">
    <a class="expand-link" ng-click="zip.revealed = !zip.revealed" href>More options</a>
  </div>
  <div class="checkbox-container" ng-class="{revealed: zip.revealed}">
    <span class="option" ng-repeat="option in zip.options">
      <md-checkbox ng-checked="option.selected" aria-label="option"
      ng-click="zip.toggleSelected(option)"
      ></md-checkbox>
      <label for="option">{{option.name}}</label>
    </span>
  </div>
</form>
</div>
