<div class="form-container">
  <form name="zipForm" ng-submit="" id="newZipForm">
    <md-input-container>
      <label>Zip Code</label>
      <input name="newZip" ng-model="newZip" ng-pattern="nz.zipRegEx" required>
      <!-- <div ng-messages="zipForm.newZip.$error">
        <div ng-message="required">This is required!</div>
        <div ng-message="pattern">Please enter a 5 digit zip code!</div>
      </div> -->
    </md-input-container>
    <md-button type="submit" class="md-raised">
      Look Up The Trends
    </md-button>
  </form>
</div>
