.form-container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0px 1px 4px grey;
  border-radius: 2px;
  padding: 20px;
  button, input {
    background-color: white !important;
  }
  button {
    vertical-align: top;
    margin-top: 15px;
  }
}
