.table-container {
  padding: 20px 0;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-y: auto;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

table {
  margin: 0 auto;
  border: 1px solid $divider;
  box-shadow: 0 0 5px $divider;
  background-color: white;
}
thead {
  border: 1px solid $divider;
}
th{
  padding: 5px;
  background-color: white;
}
td {
  box-shadow: 0 0 2px white;
}


tr:nth-child(even) {
  background-color:$primary-light;
}

tr:nth-child(odd){
  background-color:ghostwhite;
}
