$primary-dark:   #0097A7;
$primary:        #00BCD4;
$primary-light:  #B2EBF2;
$primary-text:   #FFFFFF;
$accent:         #7C4DFF;
$primary-text:   #212121;
$secondary-text: #727272;
$divider:        #B6B6B6;
