@import "_variables";

.container {
  padding-top: 15px;
  width: 80%;
  margin: 0 auto;
  min-height: calc(100% - 55px);
  background-color: ghostwhite;
  padding-bottom: 40px;
}

h1 {
  color: $primary;
}

a {
  color: $primary-light;
  text-decoration: none;
  transition: color .2s;
  &:visited{
    color: $primary-light;
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: none;
    color: $accent;
  }
}

@import "_zip", "_result", "_history";

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}
